<div class="sidebar">
    <button mat-icon-button class="sidebar-item"><mat-icon>star</mat-icon></button>
    <button mat-icon-button class="sidebar-item"><mat-icon>description</mat-icon></button>
    <button mat-icon-button class="sidebar-item"><mat-icon>person</mat-icon></button>
    <button mat-icon-button class="sidebar-item"><mat-icon>email</mat-icon></button>
    <button mat-icon-button class="sidebar-item"><mat-icon>settings</mat-icon></button>
    <button mat-icon-button class="sidebar-item"><mat-icon>folder</mat-icon></button>
    <button mat-icon-button class="sidebar-item"><mat-icon>list</mat-icon></button>
    <button mat-icon-button class="sidebar-item"><mat-icon>dashboard</mat-icon></button>
    <button mat-icon-button class="sidebar-item"><mat-icon>build</mat-icon></button>
    <div class="sidebar-spacer"></div>
    <button mat-icon-button class="sidebar-item"><mat-icon>more_vert</mat-icon></button>
</div>